/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: black;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    height: 100vh;
}

.main-container {
    min-height: 100%;
    height: auto !important;
    opacity: 0.9;
    @media (min-width: 1200px) {
        height: 100%;
        background-image: url("assets/backgrounds/background.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        opacity: 0.9;
    }
}